.presentation{
    color:white;
	width:300px;
	border:solid white;
	font-family:Cursive;
	border-style:dotted;
	float:right;
	}
.compétences{
	position:middle;
	color:white;
	width:500px;
	border: solid;
	border-style:dotted;
	font-family:Cursive;
	}
.autres{
	
	color:white;
	width: 200PX;
	border: solid;
	border-style:Cursive;
	float: right;
}

.arrondie{
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	
}	
body{
	text-align: center;
	background-image:url("levé.jpg")
}	
